nilearn==0.8.0
psutil==5.8.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
torchvision==0.9.1
--find-links https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch-cluster==1.5.9
torch-scatter==2.0.8
torch-sparse==0.6.11
torch-geometric==1.7.2
pandas==1.1.5
numpy==1.19.5
nilearn==0.8.0
keras==2.6.0
tensorflow==2.6.2
scikit-learn==0.24.2
pandas==1.1.5
matplotlib==3.3.4
seaborn==0.11.1
