certifi==2021.5.30
glob2==0.7
h5py==3.1.0
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
joblib==1.1.1
jupyter-book==0.12.1
keras==2.6.0
load-confounds==0.11.1
matplotlib==3.3.4
nibabel==3.2.1
nilearn==0.9.0
nistats==0.0.1rc0
numpy==1.19.5
pandas==1.1.5
psutil==5.8.0
Pygments==2.13.0
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
sklearn==0.0
Sphinx==4.5.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-estimator==2.6.0
torch==1.8.1
torch-geometric==1.7.2
torch-scatter==2.0.8
torch-sparse==0.6.11
